# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checker / linter caches
.mypy_cache/
.ruff_cache/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# SQLite databases
*.sqlite3

# Temporary files
*.tmp
*.swp
